.TodoForm {
	margin-top: 40px;
	width: 75%;
}

.TodoForm label {
	display: block;
}

.TodoForm input {
	box-sizing: border-box;
	padding: 10px;
	font-size: 20px;
	display: block;
	width: 100%;
	margin: 10px 0;
}

.TodoForm button {
	transition-duration: 0.3s;
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 10px 15px;
	background-color: rgba(255, 0, 0, 0);
	color: rgb(113, 186, 255);
	border: 2px solid rgb(113, 186, 255);
	font-weight: bold;
}

.TodoForm button:hover {
	transition-duration: 0.3s;
	background-color: rgb(113, 186, 255);
	color: white;
}
