.Meme {
	margin: 20px 0;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	position: relative;
}

.Meme-topText {
	position: absolute;
	font-weight: bold;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	max-height: 25%;
	-webkit-text-stroke: 1px black;
}

.Meme-bottomText {
	position: absolute;
	font-weight: bold;
	width: 100%;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	max-height: 25%;
	-webkit-text-stroke: 1px black;
}

.Meme img {
	visibility: hidden;
	width: 100%;
}

.Meme-delete-btn {
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 87, 87);
	padding: 10px 15px;
	font-size: 16px;
	color: white;
}
